.App-header {
	z-index: 1;
	padding: 0px;
	height: 48px;
	-webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.2);
}
.full {
	width: 100%
}

.brand {
	height: 48px;
}
.brand a {
	display: inline-block;
	text-decoration: none;
	color: #444;
}
.brand a:hover, .brand a:focus {
	color: #444;
}
.brand > a > img {
	height: 30px;
}
.brand img {
	height: 18px;
}
.brand .title {
	margin-left: 10px;
	display: block;
	padding: 0px;
}

.left {
	height: 48px;
	display: flex;
	align-items: center;
	float: left;
}
.right {
	height: 48px;
	display: flex;
	align-items: center;
	float: right;
	margin-right: 20px;
}
.navbar-toggler {
	position: relative;
	align-self: center;
	border: 0px;
	cursor: pointer;
}
.session {
	cursor: pointer;
	color: #ccc;
	padding: 5px;
	background-color: transparent;
	border-color: transparent;
	border: 0px;
}
.session:hover, .session:focus, .session:active, .session:visited {
	color: #fff!important;
	background-color: transparent!important;
	border-color: transparent!important;
	border: 0px!important;
	box-shadow: none!important;
}
.session:focus {
	outline: 5px auto -webkit-focus-ring-color;
}
.session > img {
	width: 28px;
	border-radius: 50%;	
}
.link-dropdown a {
	display: block;
	width: 100%
}

@media (max-width: 33.9em){
	.right {
		margin-right: 0px;
	}
}